.container {
    width: min(var(--max-width), 100% - 4rem);
    margin: 0 auto;
    padding: var(--component-spacing) 0;
}

/*section {*/
/*    scroll-margin-top: var(--header-height); !* Add scroll margin for better section positioning *!*/
/*}*/

.intro {
    max-width: 800px;
    margin: 0 auto var(--section-spacing);
    text-align: center;
    padding: 0 1rem;
}